.left-side {
    background: #000000;
    color: #fff;
    min-height: 100vh;
  
    .container {
      position: fixed;
    }
  
    header svg {
      height: 1.9em;
      margin-top: 0.7em;
      margin-bottom: 0.7em;
      margin-left: 4em;
    }
    
    nav ul {
        list-style-type: none;

    }
    nav li a {
        color: #fff; 
        text-decoration: none; 
    }
    nav svg {
      height: 1.3em;
      margin-right: 0.9em;
    }
  
    nav {
      padding-left: 3.3em
    }
  
    nav > *, button.more {
      text-decoration: none;
      color: #fff;
      font-size: 1.3em;
      font-weight: 500;
      width: 100%;
      cursor: pointer;
  
      span {
        display: flex;
        align-items: center;
        height: 2.5em;
        width: fit-content;
        padding: 0 0.7em;
      }
  
    }
    
    nav ul li:hover > a > span , button.more:hover > span{
        border-radius: 1.5em;
        background: #181818;
      }
    nav a.active {
        span{
            font-weight: bold;
        }
        svg {
          stroke: currentColor;
        }      
    }

    button {
      background: unset;
      border: unset;
    }
  
    button.post {
      display: block;
      background: #1da1f2;
      color: #fff;
      width: 14em;
      height: 3em;
      border-radius: 1.5em;
      font-size: 1em;
      margin-top: 0.5em;
      margin-left: 3.7em;
      cursor: pointer;
  
      &:hover {
        background: #0f90e5;
      }
    }
  
    footer {
      position: fixed;
      bottom: 1.5em;
      margin-left: 0.5em;
  
      button.account {
        display: grid;
        grid-template-columns: .5fr .8fr .6fr;
        align-items: center;
        justify-items: center;
        color: #fff;
        font-size: 1em;
        border-radius: 2.2em;
        height: 4em;
        margin-left: 3.5em;
  
        .photo {
          border-radius: 100%;
          height: 2.5em;
          width: 2.5em;
          background: #000;
          /* margin-left: 3.5em; */
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
          }
        }
  
        .name {
          font-weight: 700;
        }
  
        .username {
          color: #8899a6;
        }

        svg {
            height: 1.5em;
            margin-right: 0.9em;
        }
        &:hover {
            cursor: pointer;
            background: #181818;
        }
        > div:last-child {    
            justify-self: flex-end;
        }
      }

    }
}